---
import LocationMarker from "@components/icons/LocationMarker.astro";
import LinkIcon from "@components/icons/LinkIcon.astro";
import RankIcon from "@components/icons/RankIcon.astro";
import VerifiedIcon from "@components/icons/VerifiedIcon.astro";
import UsersGroupIcon from "@components/icons/UsersGroupIcon.vue";
import ShieldIcon from "@components/icons/ShieldIcon.astro";
import Modal from "@components/modals/Modal.astro";

const title = "Squad Info";
---

<Modal
    title={title}
    cancelButton=''
>
    <div class="relative flex flex-col p-6"
        x-data="{
            name : '',
            code : '',
            description : null,
            verified : false,
            country : '',
            country_name : '',
            link: '',
            active_members : 1,
            rank : '',
            requires_approval : false,
            countryFlag(){
                return this.country ? 'https://flagcdn.com/32x24/'+this.country+'.png' : ''; 
            },
            rankName(){
                let name = '';
                if(this.rank) name = this.rank>=1200 ? 'Master '+ this.rank : (this.rank[0].toUpperCase() + this.rank.substring(1));
                return name;
            }
        }"
        x-init="
            document.addEventListener('openSquadModal', (e) => {
                name = e.detail.name;
                code = e.detail.code;
                description = e.detail.description;
                country = e.detail.country ? e.detail.country.toLowerCase() : '';
                country_name = e.detail.country_name;
                link = e.detail.link ? e.detail.link : '';
                active_members = e.detail.active_members;
                rank = e.detail.rank;
                requires_approval = e.detail.requires_approval;

                title = name;
                visible = true;
            });
        "
    >
        <!-- Code -->
        <div class="flex flex-row items-center justify-start w-full h-8 mb-2">
            <h2 class="text-lg font-semibold uppercase "
            x-text="code"></h2>

            <!-- Verified -->
            <template x-if="verified">  
                <VerifiedIcon/>
            </template>
        </div>

        <!-- Subheader -->
        <div class="flex flex-row my-2 space-x-2 text-xs text-gray-500">

            <!-- Badge Location -->
            <template x-if="country">
                <div class="flex flex-row items-center space-x-1">
                    <LocationMarker/>
    
                    <template x-if="country">
                        <img class="inline-block w-3 h-3 mt-0.5"
                            x-bind:src="countryFlag()"
                            x-bind:alt="country"
                            x-bind:title="country_name"
                        />
                    </template>
    
                    <div class="" x-text="country_name"></div>
                </div>
            </template>

            <!-- Badge Link-->
            <template x-if="link">
                <div class="flex flex-row items-center space-x-1">
                    <LinkIcon/>

                    <a class="font-semibold text-gray-900 hover:text-gray-600"
                        target="_blank"
                        x-bind:href="link"
                    >External Link</a>
                </div>
            </template>
        </div>

        <p class="px-4 py-2 my-4 text-sm font-medium text-gray-500 rounded bg-secondary-50"
            x-text="description"
            x-show="description"
        ></p>

        <!-- Mini Cards -->
        <div class="flex flex-row items-center justify-center mt-2 space-x-5 text-gray-900 cursor-default">
            <!-- Active Members -->
            <div class="flex flex-col items-center justify-center w-40 h-20 transition-colors duration-100 ease-in-out border border-dashed rounded-md border-secondary-200 hover:border-secondary-400">
                <div class="flex flex-row items-center justify-center">
                    <UsersGroupIcon margins="mr-3"/>
        
                    <span class="font-bold"
                        x-text="active_members"
                    ></span>
                </div>
    
                <div class="mt-2 text-sm text-gray-500">Active Members</div>
            </div>

            <!-- Ranks -->
            <div class="flex flex-col items-center justify-center w-40 h-20 transition-colors duration-100 ease-in-out border border-dashed rounded-md border-secondary-200 hover:border-secondary-400">
                <div class="flex flex-row items-center justify-center">
                    <RankIcon 
                        rank={`expert`}
                        sizes="h-12"
                    />
                </div>
    
                <div class="mt-2 text-sm text-gray-500"
                    x-text="rankName()"
                ></div>
            </div>

            <!-- Approval -->
            <div class="flex flex-col items-center justify-center w-40 h-20 transition-colors duration-100 ease-in-out border border-dashed rounded-md border-secondary-200 hover:border-secondary-400">
                <div class="flex flex-row items-center justify-center"
                    x-bind:class="{ 'text-success-500' : !requires_approval , 'text-warning-500' : requires_approval }"
                >
                    <ShieldIcon 
                        x-bind:color="requires_approval ? 'text-red-500' : 'text-black'"
                    />
                </div>
    
                <div class="mt-2 text-sm text-gray-500"
                    x-text="requires_approval ? 'Requires Approval' : 'No Approval Required'"
                ></div>
            </div>
        </div>

    </div>

    <button type="button" class="px-6 py-3 mb-1 mr-1 text-sm font-bold text-white uppercase transition-all duration-150 ease-linear rounded shadow outline-none bg-primary-500 active:bg-primary-600 hover:shadow-lg focus:outline-none" 
        slot="confirmButton"
        x-on:click="visible=false"
    >
        Ok
    </button>
</Modal>

<script is:inline>

	document.openSquadModal = function openSquadModal(params){
		document.dispatchEvent( new CustomEvent('openSquadModal',  { "detail" : params }) );
	}
    
</script>