---
export interface Props {
  title: string,
	subtitle?: string,
  firstMenu: string,
  secondMenu: string,
  termsLabel: string,
  privacyLabel: string,
  contactsLabel: string
}

import SectionSeparator from "@components/SectionSeparator.astro";

const { title, subtitle = '', firstMenu, secondMenu, termsLabel, privacyLabel, contactsLabel } = Astro.props as Props;
---

<footer class="relative bg-secondary-300 pt-24 pb-6">

  <div
      class="bottom-auto top-0 left-0 right-0 w-full absolute pointer-events-none overflow-hidden -mt-20"
      style="height: 80px;"
  >
    <SectionSeparator/>
  </div>
    
    <div class="container mx-auto px-8">
      
      <div class="flex flex-wrap">

        <div class="w-full lg:w-6/12 px-4">
          <h4 class="text-2xl font-semibold">{ title }</h4>
          <h5 class="text-base mt-0 mb-2 text-gray-600">
            { subtitle }
          </h5>
          <div class="my-6 flex">
            <a href="https://www.twitch.tv/directory/game/Pok%C3%A9mon%20Unite" target="_blank"
              class="bg-white text-violet-500 shadow-lg font-normal h-10 w-10 items-center justify-center align-center rounded-full outline-none focus:outline-none mr-2 p-3"
            >
              <i class="flex fab fa-twitch"></i></a
            >
            <a href="https://www.youtube.com/user/PokemonUfficiale" target="_blank"
              class="bg-white text-red-500 shadow-lg font-normal h-10 w-10 items-center justify-center align-center rounded-full outline-none focus:outline-none mr-2 p-3"
            >
              <i class="flex fab fa-youtube"></i></a
            >
          </div>
        </div>

        <div class="w-full lg:w-6/12 px-4">
          <div class="flex flex-wrap items-top mb-6">

            <div class="mt-4 md:mt-0 w-full md:w-4/12 lg:w-6/12 px-4 ml-auto">
              <span
                class="block uppercase text-gray-600 text-sm font-semibold mb-2"
                >{ firstMenu }</span
              >
              <ul class="list-unstyled">
                <li>
                  <a
                    class="text-gray-900 hover:text-gray-600 font-semibold block pb-2 text-sm"
                    href="https://unite-db.com/"
                    target="_blank"
                    >unite-db</a
                  >
                </li>
                <li>
                  <a
                    class="text-gray-900 hover:text-gray-600 font-semibold block pb-2 text-sm"
                    href="https://uniteapi.dev/"
                    target="_blank"
                    >UniteAPI</a
                  >
                </li>
                <li>
                  <a
                    class="text-gray-900 hover:text-gray-600 font-semibold block pb-2 text-sm"
                    href="https://github.com/msikma/pokesprite"
					          target="_blank"
                    >PokéSprite</a
                  >
                </li>
                <li>
                  <a
                    class="text-gray-900 hover:text-gray-600 font-semibold block pb-2 text-sm"
                    href="https://unite.pokemon.com/it-it/manga/"
                    target="_blank"
                    >Official Manga</a
                  >
                </li>
              </ul>
            </div>

            <div class="mt-4 md:mt-0 w-full md:w-4/12 lg:w-6/12 px-4">
              <span
                class="block uppercase text-gray-600 text-sm font-semibold mb-2"
                >{ secondMenu }</span
              >
              <ul class="list-unstyled">
                <li>
                  <a
                    class="text-gray-900 hover:text-gray-600 font-semibold block pb-2 text-sm"
                    href="#"
                    >{ termsLabel }</a
                  >
                </li>
                <li>
                  <a
                    class="text-gray-900 hover:text-gray-600 font-semibold block pb-2 text-sm"
                    href="#"
                    >{ privacyLabel }</a
                  >
                </li>
                <li>
                  <a
                    class="text-gray-900 hover:text-gray-600 font-semibold block pb-2 text-sm"
                    href="#"
                    >{ contactsLabel }</a
                  >
                </li>
                <li class="text-gray-900 font-semibold block pb-2 text-sm">
                  <slot />
                </li>
              </ul>
            </div>

          </div>
        </div>
      </div>

      <hr class="my-6 border-gray-400" />
      
      <div
        class="flex flex-wrap items-center md:justify-between justify-center"
      >
        <div class="w-full md:w-4/12 px-4 mx-auto text-center">
          <div class="text-sm text-gray-600 font-semibold py-1">
            Copyright © 2022 Unite Agency by
            <a
              href="https://www.talale.it"
              target="_blank"
              class="text-gray-600 hover:text-gray-900"
              >Alessandro Talamona</a
            >.
          </div>
        </div>
      </div>
      
    </div>

  </footer>