---
import Layout from "@layouts/Layout.astro";
import Hero from "@components/index/Hero.astro";
import Intro from "@components/index/Intro.astro";
import FeaturedSquads from "@components/index/FeaturedSquads.vue";
import CTA from "@components/index/CTA.astro";
import SquadModal from "@components/modals/SquadModal.vue";
import { t, changeLanguage } from "i18next";
import { localizePath } from "astro-i18next";
import { Trans } from "astro-i18next/components";

changeLanguage("it");

const algolia_app_id = import.meta.env.ALGOLIA_APP_ID;
const algolia_client = import.meta.env.ALGOLIA_CLIENT;

const translations = {
    "open": t("general.open"),
    "requiresApproval": t("general.requires-approval"),
    "link": t("general.link"),
    "members": t("general.members"),
    "featured": t("general.featured"),
    "verified": t("general.verified"),
    "veteran": t("general.veteran"),
    "ultra": t("general.ultra"),
    "confirmTitle": t("modal.confirm.link.title"),
    "confirmDescription": t("modal.confirm.link.description"),
    "confirmConfirm": t("modal.confirm.link.confirm"),
    "confirmCancel": t("modal.confirm.link.cancel")
};
---
<Layout subtitle={ t("index.subtitle") } >
    
    <Hero
      subtitle={ t("index.hero.subtitle") }
    />

    <Intro/>

    <FeaturedSquads client:load 
      algoliaAppId={ algolia_app_id }
      algoliaClient={ algolia_client }
      title={ t("index.featured-squads.title") }
      translations={ translations }
    >
      <Trans i18nKey="index.featured-squads.subtitle">
        <p>
          Here are some of the Featured Squads. To see more, check our <a class="lg:text-secondary-500 lg:hover:text-secondary-600 disabled:text-secondary-400 disabled:hover:text-secondary-400 text-secondary-500" href={ localizePath("/squads") }>full list</a>.
        </p>
      </Trans>
    </FeaturedSquads>

    <CTA 
      title={ t("index.cta.title") }
      subtitle={ t("index.cta.subtitle") }
      button={ t("index.cta.button")}
      submitUrl={ localizePath("/squads/submit") }
    />

    <SquadModal client:only="vue" slot="modals"
      translations={ translations }
    />

</Layout>
