---
import Layout from "@layouts/Layout.astro";
import Hero from "@components/index/Hero.astro";
import Intro from "@components/index/Intro.astro";
import FeaturedSquads from "@components/index/FeaturedSquads.vue";
import CTA from "@components/index/CTA.astro";
import SquadModal from "@components/modals/SquadModal.vue";
import { t, changeLanguage } from "i18next";
import { Trans } from "astro-i18next/components";

changeLanguage("it");
---
<Layout subtitle={ t("index.subtitle") } >
    
    <Hero
      subtitle={ t("index.hero.subtitle") }
    />

    <Intro/>

    <FeaturedSquads client:load 
      title={ t("index.featured-squads.title") }
    >
      <Trans i18nKey="index.featured-squads.subtitle">
        <p>
          Here are some of the Featured Squads. To see more, check our <a href="/squads">full list</a>.
        </p>
      </Trans>
    </FeaturedSquads>

    <CTA 
      title={ t("index.cta.title") }
      subtitle={ t("index.cta.subtitle") }
      button={ t("index.cta.button")}
    />

    <SquadModal client:only="vue" slot="modals"/>

</Layout>
