---
import SectionSeparator from "../SectionSeparator.astro";
---
<section class="py-4 bg-gray-900 realtive">
    <div class="absolute left-0 right-0 w-full -mt-24 overflow-hidden pointer-events-none" style="height: 80px;">
        <SectionSeparator color="text-gray-900"/>
    </div>
    <div class="z-20 w-full px-4 py-24 mx-auto text-start md:max-w-2xl lg:max-w-4xl sm:px-6 lg:py-16 lg:px-8">
        <h2 class="text-3xl font-extrabold text-white sm:text-4xl">
            <span class="block text-secondary-500">
                You are a Squad Leader?
            </span>
            <span class="block text-primary-500">
                Submit your code now.
            </span>
        </h2>
        <div class="lg:mt-0 lg:flex-shrink-0">
            <form method="GET" action="/squads/submit" class="inline-flex mt-12 rounded-md shadow">
                <button type="submit" class="w-full px-6 py-4 text-base font-semibold text-center text-white transition duration-200 ease-in rounded-lg shadow-md bg-primary-600 hover:bg-primary-700 focus:ring-primary-500 focus:ring-offset-primary-200 focus:outline-none focus:ring-2 focus:ring-offset-2 ">
                    Submit
                </button>
            </form>
        </div>
    </div>
</section>