---
export interface Props {
	subtitle?: string;
}

import '@assets/styles/main.css';
import 'tippy.js/dist/tippy.css';

import {APP_NAME} from "@utils/constants";

import Alert from "@components/Alert.vue";
import Navbar from "@components/layout/Navbar.astro";
import Footer from "@components/layout/Footer.astro";
import ConfirmationModal from "@components/modals/ConfirmationModal.astro";

//const ip = Astro.clientAddress;

const { subtitle = '' } = Astro.props as Props;
const full_title = APP_NAME + ( subtitle ? ' | ' + subtitle : '' );
---

<!DOCTYPE html>
<html lang="en" class="scroll-smooth">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="theme-color" content="#000000" />
		<link rel="icon" type="image/x-icon" href="/favicon.ico" />
		<link rel="shortcut icon" href="/favicon.ico" />
		<title>{full_title}</title>

		<link
		  rel="stylesheet"
		  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
		/>

		<script>
			import Alpine from 'alpinejs';
			import Tooltip from "@ryangjchandler/alpine-tooltip";
			Alpine.plugin(Tooltip);
			Alpine.start();
		</script>
	</head>
	<body class="relative flex flex-col min-h-screen antialiased text-gray-800">

		<Alert client:only="vue"/>
		
		<Navbar/>

		<main class="flex-1 bg-secondary-100">

			<slot/>

		</main>

		<Footer/>

		<slot name="modals"/>

		<ConfirmationModal/>

	</body>

	<script is:inline>
		document.notify = function notify(type,message)
		{
			const alertObject = {
				type : type,
				message : message,
			};
			document.dispatchEvent( new CustomEvent('alert',  { "detail": alertObject }) );
		}
	</script>

</html>
